.git
node_modules
.next
.eslint*
.prettier
README.md
npm-debug.log
Dockerfile
.dockerignore
*.yaml
!pnpm-lock.yaml
.env



**/public/precache.*.*.js
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache.*.*.js.map
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

/generated/prisma/**
