DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cocktail_recipe"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000/api/auth
NEXTAUTH_SECRET=ChangeThisSecretInProduction

# CUSTOM_OIDC_NAME=
# CUSTOM_OIDC_ISSUER_URL=
# CUSTOM_OIDC_CLIENT_ID=
# CUSTOM_OIDC_CLIENT_SECRET=
# CUSTOM_OIDC_SCOPES=
# CUSTOM_OIDC_ID_KEY=
# CUSTOM_OIDC_NAME_KEY=
# CUSTOM_OIDC_EMAIL_KEY=
