{
  "branches": [
    "main",
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "docs",
            "scope": "README",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "build",
            "scope": "deps",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "✨ Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "🛠️ Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "📖 Documentation",
              "hidden": false
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": true
            },
            {
              "type": "refactor",
              "section": "Code Refactoring",
              "hidden": true
            },
            {
              "type": "build",
              "section": "Build System",
              "hidden": true
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "dist/**/*.{js,css}",
          "docs",
          "package.json",
          "docs/CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github",
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerRegistry": "ghcr.io",
        "dockerImage": "jo-gross/cocktail-manager",
        "dockerTags": [
          "latest",
          "{{version}}",
          "{{major}}.{{minor}}"
        ]
      }
    ]
  ]
}
