services:
  postgres:
    image: postgres:latest
    container_name: cocktail-recipe-postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=cocktail_recipe
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cocktail-recipe-network

  #  Local postgres backup
  #  Further information: https://github.com/prodrigestivill/docker-postgres-backup-local
  #  pgbackups:
  #    image: prodrigestivill/postgres-backup-local
  #    restart: always
  #    volumes:
  #      - /your/local/path:/backups
  #    links:
  #      - postgres
  #    depends_on:
  #      - postgres
  #    environment:
  #      - POSTGRES_HOST=postgres
  #      - POSTGRES_DB=cocktail_recipe
  #      - POSTGRES_USER=postgres
  #      - POSTGRES_PASSWORD=postgres
  #      - POSTGRES_PORT=5432
  #      - POSTGRES_EXTRA_OPTS=-Z1 --schema=public --blobs
  #      - SCHEDULE=@daily
  #      - BACKUP_KEEP_DAYS=7
  #      - BACKUP_KEEP_WEEKS=4
  #      - BACKUP_KEEP_MONTHS=6
  #      - HEALTHCHECK_PORT=8080
  #    networks:
  #      - cocktail-recipe-network

  cocktail-manager:
    depends_on:
      - postgres
    links:
      - postgres
    image: ghcr.io/jo-gross/cocktail-manager:1.3.0
    container_name: cocktail-manager
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DEPLOYMENT: "staging" # or "production" or "development"
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/cocktail_recipe
    networks:
      - cocktail-recipe-network

networks:
  cocktail-recipe-network:

volumes:
  postgres_data:
