{
  "openapi": "3.1.0",
  "info": {
    "title": "Cocktail Manager API (Preview)",
    "version": "1.0.0",
    "description": "Preview surface: the historic, unversioned (`/api`) REST API. Kept for backwards compatibility — new integrations should switch to the stable **v1** version. Authenticate with a workspace API key (Bearer JWT)."
  },
  "servers": [
    {
      "url": "https://app.cocktail-manager.de",
      "description": "Produktion"
    },
    {
      "url": "https://staging.cocktail-manager.de",
      "description": "Staging"
    },
    {
      "url": "http://localhost:3000",
      "description": "Lokale Entwicklung"
    }
  ],
  "security": [
    {
      "WorkspaceApiKeyAuth": []
    },
    {
      "InstanceApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "WorkspaceApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Workspace API key (JWT), scoped to a single workspace. Create one under Workspace → Settings → API Keys and send it as `Authorization: Bearer <token>`. Each key carries a set of permissions; the required permission is documented per operation (see the `Permission` schema for the full list)."
      },
      "InstanceApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Instance master API key — the `INSTANCE_MASTER_API_KEY` server env value, sent as `Authorization: Bearer <token>`. It is instance-wide (NOT scoped to a workspace) and bypasses the per-operation permission checks, so it authorizes every workspace operation. Intended for self-hosting / instance administration, not for third-party integrations. Call `GET /me` to introspect a token (its `isMaster` flag is true for this key)."
      },
      "SessionCookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Logged-in user session (browser cookie). Used by the few workspace-member operations that act on the caller's own identity (e.g. leaving a workspace, creating/revoking API keys) and therefore do NOT accept API keys — neither a workspace key nor the instance master key."
      }
    },
    "schemas": {
      "Permission": {
        "type": "string",
        "enum": [
          "COCKTAILS_READ",
          "COCKTAILS_CREATE",
          "COCKTAILS_UPDATE",
          "COCKTAILS_DELETE",
          "INGREDIENTS_READ",
          "INGREDIENTS_CREATE",
          "INGREDIENTS_UPDATE",
          "INGREDIENTS_DELETE",
          "GARNISHES_READ",
          "GARNISHES_CREATE",
          "GARNISHES_UPDATE",
          "GARNISHES_DELETE",
          "GLASSES_READ",
          "GLASSES_CREATE",
          "GLASSES_UPDATE",
          "GLASSES_DELETE",
          "UNITS_READ",
          "UNITS_UPDATE",
          "QUEUE_READ",
          "QUEUE_CREATE",
          "QUEUE_UPDATE",
          "QUEUE_DELETE",
          "STATISTICS_READ",
          "STATISTICS_CREATE",
          "STATISTICS_DELETE",
          "CARDS_READ",
          "CARDS_CREATE",
          "CARDS_UPDATE",
          "CARDS_DELETE",
          "CALCULATIONS_READ",
          "CALCULATIONS_CREATE",
          "CALCULATIONS_UPDATE",
          "CALCULATIONS_DELETE",
          "WORKSPACE_READ",
          "WORKSPACE_UPDATE",
          "USERS_READ",
          "USERS_UPDATE",
          "USERS_DELETE",
          "ICE_READ",
          "ICE_CREATE",
          "ICE_UPDATE",
          "ICE_DELETE",
          "RATINGS_READ",
          "RATINGS_CREATE",
          "RATINGS_DELETE",
          "MONITOR_READ",
          "MONITOR_UPDATE"
        ],
        "description": "Granular API-key permission scopes. See Authentication → Permissions for the full matrix."
      },
      "UserSetting": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "setting": {
            "$ref": "#/components/schemas/UserSettingKey"
          },
          "value": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "userId",
          "setting",
          "value"
        ]
      },
      "UserSettingKey": {
        "type": "string",
        "enum": [
          "showImage",
          "showTags",
          "lessItems",
          "theme",
          "language",
          "showStatisticActions",
          "lastSeenVersion",
          "showNotes",
          "showHistory",
          "showDescription",
          "showTime",
          "showRating",
          "queueGrouping",
          "showFastQueueCheck",
          "showSettingsAtBottom"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string"
              },
              "issues": {}
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "UserSettingUpdateInput": {
        "type": "object",
        "properties": {
          "setting": {
            "$ref": "#/components/schemas/UserSettingKey"
          },
          "value": {
            "type": [
              "string",
              "null"
            ],
            "description": "Setting value as string, or null to clear."
          }
        },
        "required": [
          "setting",
          "value"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "isDemo": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "When a demo workspace expires, or null."
          },
          "isExternallyManaged": {
            "type": "boolean",
            "description": "Whether membership/roles are managed via an external identity provider."
          },
          "settings": {
            "$ref": "#/components/schemas/WorkspaceSettings"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "image",
          "isDemo",
          "expiresAt",
          "isExternallyManaged",
          "settings",
          "members"
        ]
      },
      "WorkspaceSettings": {
        "type": "object",
        "properties": {
          "translations": {
            "type": [
              "string",
              "null"
            ]
          },
          "usePrices": {
            "type": [
              "string",
              "null"
            ]
          },
          "statisticDayStartTime": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "description": "Workspace settings keyed by setting name; values are strings or null."
      },
      "WorkspaceMember": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "$ref": "#/components/schemas/WorkspaceRole"
          },
          "lastOpened": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "When the member last opened this workspace."
          }
        },
        "required": [
          "userId",
          "name",
          "email",
          "image",
          "role",
          "lastOpened"
        ]
      },
      "WorkspaceRole": {
        "type": "string",
        "enum": [
          "OWNER",
          "ADMIN",
          "MANAGER",
          "USER"
        ]
      },
      "WorkspaceUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "name"
        ]
      },
      "DeletionResult": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of records deleted."
          }
        },
        "required": [
          "count"
        ]
      },
      "Action": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "actionGroup": {
            "type": "string",
            "description": "Grouping bucket, e.g. \"MIXING\" or \"POURING\"."
          }
        },
        "required": [
          "id",
          "name",
          "actionGroup"
        ]
      },
      "ActionCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "actionGroup": {
            "type": "string",
            "minLength": 1
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional display-name translations keyed by language code, e.g. { \"en\": \"Shake\" }."
          }
        },
        "required": [
          "name",
          "actionGroup"
        ]
      },
      "ActionUpdateInput": {
        "type": "object",
        "properties": {
          "actionGroup": {
            "type": "string",
            "minLength": 1
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional display-name translations keyed by language code, e.g. { \"en\": \"Shake\" }."
          }
        },
        "required": [
          "actionGroup"
        ]
      },
      "SignageFormat": {
        "type": "object",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/MonitorFormat"
          },
          "backgroundColor": {
            "type": [
              "string",
              "null"
            ]
          },
          "backgroundMode": {
            "$ref": "#/components/schemas/SignageBackgroundMode"
          },
          "slideDurationSeconds": {
            "type": "integer"
          },
          "mirrorSourceFormat": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MonitorFormat"
              },
              {
                "type": [
                  "string",
                  "null"
                ],
                "description": "If set, this format mirrors the slides of the given source format."
              }
            ]
          },
          "slides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignageSlide"
            }
          }
        },
        "required": [
          "format",
          "backgroundColor",
          "backgroundMode",
          "slideDurationSeconds",
          "mirrorSourceFormat",
          "slides"
        ]
      },
      "MonitorFormat": {
        "type": "string",
        "enum": [
          "LANDSCAPE",
          "PORTRAIT"
        ]
      },
      "SignageBackgroundMode": {
        "type": "string",
        "enum": [
          "COLOR",
          "BLURRED"
        ]
      },
      "SignageSlide": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          },
          "weekdays": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Active weekdays (0=Sun … 6=Sat); empty = every day."
          },
          "validFrom": {
            "type": [
              "string",
              "null"
            ],
            "description": "Active-from date (YYYY-MM-DD), or null."
          },
          "validTo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Active-to date (YYYY-MM-DD), or null."
          },
          "dateExclusive": {
            "type": "boolean"
          },
          "imageUrl": {
            "type": "string",
            "description": "URL to fetch the slide image bytes."
          }
        },
        "required": [
          "id",
          "order",
          "enabled",
          "weekdays",
          "validFrom",
          "validTo",
          "dateExclusive",
          "imageUrl"
        ]
      },
      "SignageSettingsUpdateInput": {
        "type": "object",
        "properties": {
          "landscape": {
            "type": "object",
            "properties": {
              "backgroundColor": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "backgroundMode": {
                "$ref": "#/components/schemas/SignageBackgroundMode"
              },
              "slideDurationSeconds": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "mirrorSourceFormat": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MonitorFormat"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                ]
              },
              "slides": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SignageSlideOrder"
                }
              }
            },
            "required": [
              "slideDurationSeconds",
              "slides"
            ]
          },
          "portrait": {
            "type": "object",
            "properties": {
              "backgroundColor": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "backgroundMode": {
                "$ref": "#/components/schemas/SignageBackgroundMode"
              },
              "slideDurationSeconds": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "mirrorSourceFormat": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MonitorFormat"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                ]
              },
              "slides": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SignageSlideOrder"
                }
              }
            },
            "required": [
              "slideDurationSeconds",
              "slides"
            ]
          }
        }
      },
      "SignageSlideOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "order": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "order"
        ]
      },
      "SignageSlideCreateInput": {
        "type": "object",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/MonitorFormat"
          },
          "slides": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Base64-encoded slide images (data URIs) to append."
          }
        },
        "required": [
          "format",
          "slides"
        ]
      },
      "SignageSlidePatchInput": {
        "type": "object",
        "properties": {
          "slideIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "enabled": {
            "type": "boolean"
          },
          "weekdays": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "validFrom": {
            "type": [
              "string",
              "null"
            ]
          },
          "validTo": {
            "type": [
              "string",
              "null"
            ]
          },
          "dateExclusive": {
            "type": "boolean"
          }
        },
        "required": [
          "slideIds"
        ]
      },
      "TranslationUpdateResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "TranslationUpdateInput": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "description": "The translation key (e.g. an action/unit/ice name)."
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Display names keyed by language code, e.g. { \"de\": \"Shaken\" }."
          }
        },
        "required": [
          "key",
          "translations"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "keyPrefix": {
            "type": "string",
            "description": "First characters of the internal key id, for identification."
          },
          "revoked": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "createdBy": {
            "$ref": "#/components/schemas/ApiKeyCreator"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        },
        "required": [
          "id",
          "name",
          "keyPrefix",
          "revoked",
          "expiresAt",
          "lastUsedAt",
          "createdAt",
          "createdBy",
          "permissions"
        ]
      },
      "ApiKeyCreator": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "email"
        ]
      },
      "ApiKeyCreateResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "The signed API key (JWT). Returned ONLY once — store it now."
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        },
        "required": [
          "id",
          "name",
          "key",
          "expiresAt",
          "createdAt",
          "permissions"
        ]
      },
      "ApiKeyCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO expiry timestamp, or null/omitted for no expiry."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "description": "Permission scopes to grant the key."
          }
        },
        "required": [
          "name"
        ]
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entityType": {
            "type": "string",
            "description": "Type of the affected entity, e.g. `Glass`."
          },
          "entityId": {
            "type": "string",
            "description": "ID of the affected entity."
          },
          "action": {
            "type": "string",
            "description": "Action performed, e.g. `CREATE`, `UPDATE`, `DELETE`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "user": {
            "$ref": "#/components/schemas/AuditLogUser"
          },
          "changes": {
            "description": "Structured diff of the change, or null."
          },
          "snapshot": {
            "description": "Entity snapshot after the change, or null."
          },
          "exportData": {
            "description": "Exportable entity payload for restore/download, or null."
          }
        },
        "required": [
          "id",
          "entityType",
          "entityId",
          "action",
          "createdAt",
          "user"
        ]
      },
      "AuditLogUser": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Avatar URL, or null."
          }
        },
        "required": [
          "id",
          "name",
          "image"
        ],
        "description": "The acting user, or null if the user was removed."
      },
      "CalculationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "showSalesStuff": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "group": {
            "$ref": "#/components/schemas/CalculationGroupRef"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalculationItem"
            }
          }
        },
        "required": [
          "id",
          "name",
          "showSalesStuff",
          "updatedAt",
          "group",
          "items"
        ]
      },
      "CalculationGroupRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isDefaultExpanded": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "isDefaultExpanded"
        ],
        "description": "Group this calculation belongs to, or null."
      },
      "CalculationItem": {
        "type": "object",
        "properties": {
          "cocktail": {
            "$ref": "#/components/schemas/CalculationCocktailRef"
          },
          "plannedAmount": {
            "type": "integer",
            "description": "Planned number of cocktails for this item."
          },
          "customPrice": {
            "type": [
              "number",
              "null"
            ],
            "description": "Overridden price for this item, or null."
          }
        },
        "required": [
          "cocktail",
          "plannedAmount",
          "customPrice"
        ]
      },
      "CalculationCocktailRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CalculationCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "showSalesStuff": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to show sales figures (default true)."
          },
          "groupId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Group to assign the calculation to, or null/omitted for none."
          },
          "calculationItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "cocktailId": {
                  "type": "string"
                },
                "plannedAmount": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Planned number of cocktails for this item."
                },
                "customPrice": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "Overridden price for this item, or null."
                }
              },
              "required": [
                "cocktailId",
                "plannedAmount"
              ]
            },
            "description": "Cocktail items in this calculation."
          },
          "ingredientShoppingUnits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ingredientId": {
                  "type": "string"
                },
                "unitId": {
                  "type": "string"
                },
                "checked": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                }
              },
              "required": [
                "ingredientId",
                "unitId"
              ]
            },
            "description": "Ingredient shopping units for this calculation."
          }
        },
        "required": [
          "name",
          "calculationItems",
          "ingredientShoppingUnits"
        ]
      },
      "Calculation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CalculationSummary"
          },
          {
            "type": "object",
            "properties": {
              "ingredientShoppingUnits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CalculationShoppingUnit"
                }
              }
            },
            "required": [
              "ingredientShoppingUnits"
            ]
          }
        ]
      },
      "CalculationShoppingUnit": {
        "type": "object",
        "properties": {
          "ingredient": {
            "$ref": "#/components/schemas/CalculationIngredientRef"
          },
          "unit": {
            "$ref": "#/components/schemas/CalculationUnitRef"
          },
          "checked": {
            "type": "boolean"
          }
        },
        "required": [
          "ingredient",
          "unit",
          "checked"
        ]
      },
      "CalculationIngredientRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CalculationUnitRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CalculationUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "showSalesStuff": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to show sales figures."
          },
          "groupId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Group to assign the calculation to; null/omitted disconnects it."
          },
          "calculationItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "cocktailId": {
                  "type": "string"
                },
                "plannedAmount": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Planned number of cocktails for this item."
                },
                "customPrice": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "Overridden price for this item, or null."
                }
              },
              "required": [
                "cocktailId",
                "plannedAmount"
              ]
            },
            "description": "Cocktail items; fully replaces the existing items."
          },
          "ingredientShoppingUnits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ingredientId": {
                  "type": "string"
                },
                "unitId": {
                  "type": "string"
                },
                "checked": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                }
              },
              "required": [
                "ingredientId",
                "unitId"
              ]
            },
            "description": "Ingredient shopping units; fully replaces the existing ones."
          }
        },
        "required": [
          "name",
          "calculationItems",
          "ingredientShoppingUnits"
        ]
      },
      "CalculationGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isDefaultExpanded": {
            "type": "boolean"
          },
          "calculationCount": {
            "type": "integer",
            "description": "Number of calculations assigned to this group."
          }
        },
        "required": [
          "id",
          "name",
          "isDefaultExpanded",
          "calculationCount"
        ]
      },
      "CalculationGroupCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "isDefaultExpanded": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the group is expanded by default (default false)."
          }
        },
        "required": [
          "name"
        ]
      },
      "CalculationGroupUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "isDefaultExpanded": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the group is expanded by default."
          }
        },
        "required": [
          "name"
        ]
      },
      "GroupAssignmentResult": {
        "type": "object",
        "properties": {
          "updatedCount": {
            "type": "integer"
          }
        },
        "required": [
          "updatedCount"
        ]
      },
      "CalculationGroupAssignInput": {
        "type": "object",
        "properties": {
          "calculationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Calculations to (re)assign."
          },
          "groupId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Target group, or null to remove group assignment."
          }
        },
        "required": [
          "calculationIds"
        ]
      },
      "CardSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "Optional date the card is scheduled for."
          },
          "archived": {
            "type": "boolean"
          },
          "groupCount": {
            "type": "integer",
            "description": "Number of groups on this card."
          },
          "itemCount": {
            "type": "integer",
            "description": "Total number of cocktail items across all groups."
          }
        },
        "required": [
          "id",
          "name",
          "date",
          "archived",
          "groupCount",
          "itemCount"
        ]
      },
      "Card": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CardSummary"
          },
          {
            "type": "object",
            "properties": {
              "groups": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CardGroup"
                }
              }
            },
            "required": [
              "groups"
            ]
          }
        ]
      },
      "CardGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "groupNumber": {
            "type": "integer",
            "description": "Ordering index of the group within the card."
          },
          "groupPrice": {
            "type": [
              "number",
              "null"
            ],
            "description": "Uniform price applied to the whole group, or null."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardItem"
            }
          }
        },
        "required": [
          "id",
          "name",
          "groupNumber",
          "groupPrice",
          "items"
        ]
      },
      "CardItem": {
        "type": "object",
        "properties": {
          "cocktail": {
            "$ref": "#/components/schemas/CardCocktailRef"
          },
          "itemNumber": {
            "type": "integer",
            "description": "Ordering index of the item within its group."
          },
          "specialPrice": {
            "type": [
              "number",
              "null"
            ],
            "description": "Overridden price for this item on this card, or null."
          }
        },
        "required": [
          "cocktail",
          "itemNumber",
          "specialPrice"
        ]
      },
      "CardCocktailRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CardCreateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional client-supplied CUID."
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Optional date the card is scheduled for."
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Optional client-supplied CUID."
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "groupNumber": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Ordering index; auto-assigned when omitted."
                },
                "groupPrice": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "Uniform group price, or null."
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cocktailId": {
                        "type": "string"
                      },
                      "itemNumber": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "description": "Ordering index; auto-assigned when omitted."
                      },
                      "specialPrice": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "description": "Overridden price for this item, or null."
                      }
                    },
                    "required": [
                      "cocktailId"
                    ]
                  },
                  "description": "Items in this group."
                }
              },
              "required": [
                "name"
              ]
            },
            "description": "Groups (with their items) to create."
          }
        },
        "required": [
          "name"
        ]
      },
      "CardUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Optional date the card is scheduled for."
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Optional client-supplied CUID."
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "groupNumber": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Ordering index; auto-assigned when omitted."
                },
                "groupPrice": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "Uniform group price, or null."
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cocktailId": {
                        "type": "string"
                      },
                      "itemNumber": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "description": "Ordering index; auto-assigned when omitted."
                      },
                      "specialPrice": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "description": "Overridden price for this item, or null."
                      }
                    },
                    "required": [
                      "cocktailId"
                    ]
                  },
                  "description": "Items in this group."
                }
              },
              "required": [
                "name"
              ]
            },
            "description": "Groups (with their items); fully replaces the existing groups/items."
          }
        },
        "required": [
          "name"
        ]
      },
      "CardCloneInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name for the cloned card."
          }
        },
        "required": [
          "name"
        ]
      },
      "CocktailSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "isArchived": {
            "type": "boolean",
            "description": "Whether the cocktail is archived."
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the cocktail has an image."
          },
          "imageUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to fetch the cocktail image bytes, or null when hasImage is false."
          },
          "glass": {
            "$ref": "#/components/schemas/CocktailGlassRef"
          },
          "garnishes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CocktailGarnishNameRef"
            },
            "description": "Garnish name refs; present only when requested via ?include=garnishes."
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CocktailIngredientNameRef"
            },
            "description": "Distinct ingredient name refs across all steps; present only when requested via ?include=ingredients."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "tags",
          "price",
          "isArchived",
          "hasImage",
          "imageUrl",
          "glass"
        ]
      },
      "CocktailGlassRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deposit": {
            "type": "number",
            "description": "Glass deposit in currency units."
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the glass has an image."
          }
        },
        "required": [
          "id",
          "name",
          "deposit",
          "hasImage"
        ]
      },
      "CocktailGarnishNameRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CocktailIngredientNameRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "shortName"
        ]
      },
      "Cocktail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "isArchived": {
            "type": "boolean",
            "description": "Whether the cocktail is archived."
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the cocktail has an image."
          },
          "imageUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to fetch the cocktail image bytes, or null when hasImage is false."
          },
          "glass": {
            "$ref": "#/components/schemas/CocktailGlassRef"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "history": {
            "type": [
              "string",
              "null"
            ]
          },
          "ice": {
            "$ref": "#/components/schemas/CocktailIceRef"
          },
          "garnishes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CocktailGarnish"
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CocktailStep"
            }
          },
          "averageRating": {
            "type": [
              "number",
              "null"
            ],
            "description": "Mean of all rating values, or null when there are no ratings."
          },
          "ratingCount": {
            "type": "integer",
            "description": "Number of ratings."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "tags",
          "price",
          "isArchived",
          "hasImage",
          "imageUrl",
          "glass",
          "notes",
          "history",
          "ice",
          "garnishes",
          "steps",
          "averageRating",
          "ratingCount"
        ]
      },
      "CocktailIceRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CocktailGarnish": {
        "type": "object",
        "properties": {
          "garnishId": {
            "type": "string"
          },
          "garnishNumber": {
            "type": "integer",
            "description": "Ordering index of the garnish within the recipe."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "optional": {
            "type": "boolean"
          },
          "isAlternative": {
            "type": "boolean"
          },
          "garnish": {
            "$ref": "#/components/schemas/CocktailGarnishRef"
          }
        },
        "required": [
          "garnishId",
          "garnishNumber",
          "description",
          "optional",
          "isAlternative",
          "garnish"
        ]
      },
      "CocktailGarnishRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": [
              "number",
              "null"
            ],
            "description": "Garnish price in currency units (drives material cost)."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the garnish has an image."
          }
        },
        "required": [
          "id",
          "name",
          "price",
          "description",
          "notes",
          "hasImage"
        ]
      },
      "CocktailStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "stepNumber": {
            "type": "integer",
            "description": "Ordering index of the step within the recipe."
          },
          "optional": {
            "type": "boolean"
          },
          "action": {
            "$ref": "#/components/schemas/CocktailActionRef"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CocktailStepIngredient"
            }
          }
        },
        "required": [
          "id",
          "stepNumber",
          "optional",
          "action",
          "ingredients"
        ]
      },
      "CocktailActionRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CocktailStepIngredient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Amount in the given unit, or null."
          },
          "optional": {
            "type": "boolean"
          },
          "ingredientNumber": {
            "type": "integer",
            "description": "Ordering index within the step."
          },
          "unit": {
            "$ref": "#/components/schemas/CocktailUnitRef"
          },
          "ingredient": {
            "$ref": "#/components/schemas/CocktailIngredientRef"
          }
        },
        "required": [
          "id",
          "amount",
          "optional",
          "ingredientNumber",
          "unit",
          "ingredient"
        ]
      },
      "CocktailUnitRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CocktailIngredientRef": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the ingredient has an image."
          }
        },
        "required": [
          "id",
          "name",
          "shortName",
          "description",
          "notes",
          "tags",
          "hasImage"
        ]
      },
      "CocktailCreateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional client-supplied CUID."
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "history": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "iceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Ice id, or null."
          },
          "glassId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Glass id, or null."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64-encoded image (data URI) to attach."
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Existing step id; omit/empty for a new step."
                },
                "stepNumber": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Ordering index of the step within the recipe."
                },
                "optional": {
                  "type": "boolean",
                  "description": "Whether this step is optional (default false)."
                },
                "actionId": {
                  "type": "string",
                  "description": "Action id for this step."
                },
                "ingredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Existing ingredient-line id; omit/empty for a new line."
                      },
                      "amount": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "description": "Amount in the given unit, or null."
                      },
                      "optional": {
                        "type": "boolean",
                        "description": "Whether this ingredient is optional (default false)."
                      },
                      "ingredientNumber": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "description": "Ordering index within the step."
                      },
                      "unitId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Unit id, or null."
                      },
                      "ingredientId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Ingredient id, or null."
                      }
                    },
                    "required": [
                      "ingredientNumber"
                    ]
                  },
                  "description": "Ingredient lines within this step."
                }
              },
              "required": [
                "stepNumber",
                "actionId"
              ]
            },
            "description": "Preparation steps (with their ingredients)."
          },
          "garnishes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "garnishId": {
                  "type": "string"
                },
                "garnishNumber": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Ordering index of the garnish within the recipe."
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "optional": {
                  "type": "boolean",
                  "description": "Whether this garnish is optional (default false)."
                },
                "isAlternative": {
                  "type": "boolean",
                  "description": "Whether this garnish is an alternative (default false)."
                }
              },
              "required": [
                "garnishId",
                "garnishNumber"
              ]
            },
            "description": "Garnishes attached to the cocktail."
          }
        },
        "required": [
          "name"
        ]
      },
      "CocktailUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "history": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "iceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Ice id, or null."
          },
          "glassId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Glass id, or null."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64 image; omitting it removes the current image."
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Existing step id; omit/empty for a new step."
                },
                "stepNumber": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Ordering index of the step within the recipe."
                },
                "optional": {
                  "type": "boolean",
                  "description": "Whether this step is optional (default false)."
                },
                "actionId": {
                  "type": "string",
                  "description": "Action id for this step."
                },
                "ingredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Existing ingredient-line id; omit/empty for a new line."
                      },
                      "amount": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "description": "Amount in the given unit, or null."
                      },
                      "optional": {
                        "type": "boolean",
                        "description": "Whether this ingredient is optional (default false)."
                      },
                      "ingredientNumber": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "description": "Ordering index within the step."
                      },
                      "unitId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Unit id, or null."
                      },
                      "ingredientId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Ingredient id, or null."
                      }
                    },
                    "required": [
                      "ingredientNumber"
                    ]
                  },
                  "description": "Ingredient lines within this step."
                }
              },
              "required": [
                "stepNumber",
                "actionId"
              ]
            },
            "description": "Steps (with ingredients). Differentially applied via ids: lines with ids are updated, without ids created, missing ids deleted."
          },
          "garnishes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "garnishId": {
                  "type": "string"
                },
                "garnishNumber": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Ordering index of the garnish within the recipe."
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "optional": {
                  "type": "boolean",
                  "description": "Whether this garnish is optional (default false)."
                },
                "isAlternative": {
                  "type": "boolean",
                  "description": "Whether this garnish is an alternative (default false)."
                }
              },
              "required": [
                "garnishId",
                "garnishNumber"
              ]
            },
            "description": "Garnishes. Differentially applied via garnishId: present are updated/created, missing are deleted."
          }
        },
        "required": [
          "name"
        ]
      },
      "CocktailCloneInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name for the cloned cocktail."
          }
        },
        "required": [
          "name"
        ]
      },
      "Rating": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the rater, or null."
          },
          "rating": {
            "type": "integer",
            "description": "Rating value."
          },
          "comment": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional comment."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          }
        },
        "required": [
          "id",
          "name",
          "rating",
          "comment",
          "createdAt"
        ]
      },
      "RatingCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the rater."
          },
          "rating": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Rating value."
          },
          "comment": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional comment."
          }
        },
        "required": [
          "rating"
        ]
      },
      "Garnish": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": [
              "number",
              "null"
            ],
            "description": "Price in currency units."
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the garnish has an image."
          },
          "imageUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to fetch the garnish image bytes, or null when hasImage is false."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "notes",
          "price",
          "hasImage",
          "imageUrl"
        ]
      },
      "GarnishCreateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional client-supplied CUID."
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "price": {
            "type": [
              "number",
              "null"
            ],
            "description": "Price in currency units."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64-encoded image (data URI) to attach."
          }
        },
        "required": [
          "name"
        ]
      },
      "GarnishUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64 image; omitting it removes the current image."
          }
        },
        "required": [
          "name"
        ]
      },
      "GarnishCloneInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name for the cloned garnish."
          }
        },
        "required": [
          "name"
        ]
      },
      "Glass": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume": {
            "type": [
              "number",
              "null"
            ],
            "description": "Volume in cl."
          },
          "deposit": {
            "type": "number",
            "description": "Deposit in currency units."
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the glass has an image."
          },
          "imageUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to fetch the glass image bytes, or null when hasImage is false."
          }
        },
        "required": [
          "id",
          "name",
          "notes",
          "volume",
          "deposit",
          "hasImage",
          "imageUrl"
        ]
      },
      "GlassCreateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional client-supplied CUID."
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "deposit": {
            "type": [
              "number",
              "null"
            ],
            "description": "Deposit in currency units."
          },
          "volume": {
            "type": [
              "number",
              "null"
            ],
            "description": "Volume in cl."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64-encoded image (data URI) to attach."
          }
        },
        "required": [
          "name",
          "deposit"
        ]
      },
      "GlassUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "deposit": {
            "type": [
              "number",
              "null"
            ]
          },
          "volume": {
            "type": [
              "number",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64 image; omitting it removes the current image."
          }
        },
        "required": [
          "name",
          "deposit"
        ]
      },
      "GlassCloneInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name for the cloned glass."
          }
        },
        "required": [
          "name"
        ]
      },
      "GlassReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Ice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "IceCreateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional client-supplied CUID."
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional display-name translations keyed by language code, e.g. { \"en\": \"Crushed ice\" }."
          }
        },
        "required": [
          "name"
        ]
      },
      "IceUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional display-name translations keyed by language code, e.g. { \"en\": \"Crushed ice\" }."
          }
        },
        "required": [
          "name"
        ]
      },
      "Ingredient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "link": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "volumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngredientVolume"
            }
          },
          "hasImage": {
            "type": "boolean",
            "description": "Whether the ingredient has an image."
          },
          "imageUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to fetch the ingredient image bytes, or null when hasImage is false."
          }
        },
        "required": [
          "id",
          "name",
          "shortName",
          "description",
          "notes",
          "price",
          "link",
          "tags",
          "volumes",
          "hasImage",
          "imageUrl"
        ]
      },
      "IngredientVolume": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "volume": {
            "type": "number",
            "description": "Volume amount in the given unit."
          },
          "unit": {
            "$ref": "#/components/schemas/IngredientVolumeUnit"
          }
        },
        "required": [
          "id",
          "volume",
          "unit"
        ]
      },
      "IngredientVolumeUnit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "IngredientCreateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional client-supplied CUID."
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "link": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "units": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "unitId": {
                  "type": "string"
                },
                "volume": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "Volume amount in the given unit."
                }
              },
              "required": [
                "unitId",
                "volume"
              ]
            },
            "description": "Unit volumes to attach."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64-encoded image (data URI) to attach."
          }
        },
        "required": [
          "name"
        ]
      },
      "IngredientUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "link": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "units": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "unitId": {
                  "type": "string"
                },
                "volume": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "Volume amount in the given unit."
                }
              },
              "required": [
                "unitId",
                "volume"
              ]
            },
            "description": "Unit volumes to attach (replaces existing)."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64 image; omitting it removes the current image."
          }
        },
        "required": [
          "name"
        ]
      },
      "IngredientCloneInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name for the cloned ingredient."
          }
        },
        "required": [
          "name"
        ]
      },
      "IngredientReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "JoinCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "expires": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "onlyUseOnce": {
            "type": "boolean"
          },
          "used": {
            "type": "integer",
            "description": "How many times the code has been used."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          }
        },
        "required": [
          "code",
          "expires",
          "onlyUseOnce",
          "used",
          "createdAt"
        ]
      },
      "JoinCodeCreateInput": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          },
          "expires": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO expiry timestamp, or null/omitted for no expiry."
          },
          "onlyUseOnce": {
            "type": "boolean",
            "description": "Whether the code can only be used once (default false)."
          }
        },
        "required": [
          "code"
        ]
      },
      "JoinRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "user": {
            "$ref": "#/components/schemas/JoinRequestUser"
          }
        },
        "required": [
          "userId",
          "date",
          "user"
        ]
      },
      "JoinRequestUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Requester email — shown to managers to identify the person."
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "image"
        ]
      },
      "JoinRequestActionResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "LeaveResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "QueueItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "cocktail": {
            "$ref": "#/components/schemas/QueueCocktailRef"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "inProgress": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          }
        },
        "required": [
          "id",
          "cocktail",
          "notes",
          "inProgress",
          "createdAt"
        ]
      },
      "QueueCocktailRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "QueueUpdateInput": {
        "type": "object",
        "properties": {
          "inProgress": {
            "type": "boolean",
            "description": "Whether the queue item is currently being prepared."
          }
        },
        "required": [
          "inProgress"
        ]
      },
      "QueueAddInput": {
        "type": "object",
        "properties": {
          "cocktailId": {
            "type": "string",
            "minLength": 1
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional notes. Empty or \"-\" is treated as no notes."
          },
          "amount": {
            "type": "integer",
            "minimum": 1,
            "description": "How many identical items to enqueue (default 1)."
          }
        },
        "required": [
          "cocktailId"
        ]
      },
      "QueueRemoveInput": {
        "type": "object",
        "properties": {
          "cocktailId": {
            "type": "string",
            "minLength": 1
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "description": "Notes to match. Empty or \"-\" matches items without notes."
          }
        },
        "required": [
          "cocktailId"
        ]
      },
      "WorkspaceSettingUpdateInput": {
        "type": "object",
        "properties": {
          "setting": {
            "$ref": "#/components/schemas/WorkspaceSettingKey"
          },
          "value": {
            "type": [
              "string",
              "null"
            ],
            "description": "New value for the setting; null clears it."
          }
        },
        "required": [
          "setting"
        ]
      },
      "WorkspaceSettingKey": {
        "type": "string",
        "enum": [
          "translations",
          "usePrices",
          "statisticDayStartTime"
        ]
      },
      "AdvancedStatisticsCocktailRanking": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdvancedStatisticsCocktailRankingRow"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of orders in the selected period."
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "AdvancedStatisticsCocktailRankingRow": {
        "type": "object",
        "properties": {},
        "additionalProperties": {},
        "description": "Per-cocktail ranking row: `cocktailId`, `name`, `tags`, `count`, `percentage` (share of period orders), `delta` (% vs. previous period), `previousCount`, `rank`, and `ingredients[]` (each with ingredientId/name/price, amount, unitId/name and availableUnits)."
      },
      "AdvancedStatisticsCocktailDetail": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": {},
            "description": "Single-cocktail analytics: `cocktail` `{ id, name, tags, price }`, `total`, `avgPerActiveHour`, `rank`, `delta` (% vs. previous period), `previousTotal`, `revenue`, `previousRevenue`, `timeSeries` `{ date, count }[]` (granularity auto-chosen by range), `hourDistribution` `{ hour, count }[]` (0–23), `dayDistribution` `{ day, count }[]` (0=Sun…6), and `ingredients` (ingredient name list). All-time range is used when startDate/endDate are omitted."
          }
        },
        "required": [
          "data"
        ]
      },
      "AdvancedStatisticsCocktailOrders": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdvancedStatisticsCocktailOrderRow"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              }
            },
            "required": [
              "page",
              "limit",
              "total",
              "totalPages"
            ],
            "description": "Legacy pagination block (page/limit/total/totalPages), distinct from the standard PaginationMeta."
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "AdvancedStatisticsCocktailOrderRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-04T12:00:00.000Z",
            "description": "ISO 8601 timestamp"
          },
          "user": {
            "$ref": "#/components/schemas/AdvancedStatisticsOrderUser"
          },
          "cocktailCard": {
            "$ref": "#/components/schemas/AdvancedStatisticsOrderCard"
          }
        },
        "required": [
          "id",
          "date",
          "user",
          "cocktailCard"
        ]
      },
      "AdvancedStatisticsOrderUser": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "AdvancedStatisticsOrderCard": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "AdvancedStatisticsCocktailAll": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdvancedStatisticsCocktailAllRow"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of orders in the period across all cocktails."
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "AdvancedStatisticsCocktailAllRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "description": "Order count in the period (0 when no date range or no orders)."
          }
        },
        "required": [
          "id",
          "name",
          "count"
        ]
      },
      "AdvancedStatisticsCompare": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": {},
            "description": "Ad-hoc set comparison: `set` `{ name, type, logic }`, `kpis` (total, percentage, cocktailCount, totalStats, totalUniqueCocktailsInPeriod, cocktailPercentage, totalCocktailsInWorkspace, cocktailPercentageAll, revenue, totalRevenue), `cocktails` `{ cocktailId, name, count }[]`, and `aggregated` `{ name, count }[]` (ingredients for TAG_SET, tags for INGREDIENT_SET)."
          }
        },
        "required": [
          "data"
        ]
      },
      "AdvancedStatisticsIngredients": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdvancedStatisticsIngredientRow"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of orders in the period."
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "AdvancedStatisticsIngredientRow": {
        "type": "object",
        "properties": {
          "ingredient": {
            "type": "string",
            "description": "Ingredient name."
          },
          "count": {
            "type": "integer",
            "description": "Number of orders whose cocktail uses this ingredient."
          },
          "cocktailCount": {
            "type": "integer",
            "description": "Number of distinct cocktails that use this ingredient."
          },
          "percentage": {
            "type": "number",
            "description": "Share of period orders using this ingredient (%)."
          }
        },
        "required": [
          "ingredient",
          "count",
          "cocktailCount",
          "percentage"
        ]
      },
      "AdvancedStatisticsOverview": {
        "type": "object",
        "properties": {},
        "additionalProperties": {},
        "description": "Dashboard overview. `kpis` holds per-period KPI blocks (today/week/month/period/avgPerHour/allTime), each with totals, deltas vs. the previous period, top cocktail `{ name, count }` and revenue. `charts` holds per-period chart data (timeSeries `{ date, count }[]`, topCocktails `{ cocktailId, name, count }[]`, hourDistribution `{ hour, count }[]`). Legacy top-level `timeSeries`/`topCocktails`/`hourDistribution` mirror the `period` chart data."
      },
      "AdvancedStatisticsSavedSet": {
        "type": "object",
        "properties": {},
        "additionalProperties": {},
        "description": "A saved statistics set (id, workspaceId, name, type, logic, items[], createdAt, updatedAt)."
      },
      "AdvancedStatisticsSavedSetCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Set name."
          },
          "type": {
            "type": "string",
            "description": "SavedSetType (COCKTAIL_SET | TAG_SET | INGREDIENT_SET)."
          },
          "logic": {
            "type": [
              "string",
              "null"
            ],
            "description": "SavedSetLogic (AND | OR), or null."
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Member names/ids for the set."
          }
        },
        "required": [
          "name",
          "type",
          "items"
        ]
      },
      "AdvancedStatisticsSavedSetUpdateInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the set to update."
          },
          "name": {
            "type": "string",
            "description": "New name (optional)."
          },
          "logic": {
            "type": [
              "string",
              "null"
            ],
            "description": "New logic (AND | OR) or null (optional)."
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "New member list (optional)."
          }
        },
        "required": [
          "id"
        ]
      },
      "AdvancedStatisticsSetDetail": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {},
            "additionalProperties": {},
            "description": "Analytics for a saved set: `set` `{ id, name, type, logic, items }`, `kpis` (total, percentage, cocktailCount, totalStats, totalUniqueCocktailsInPeriod, cocktailPercentage, totalCocktailsInWorkspace, cocktailPercentageAll), `cocktails` `{ cocktailId, name, count }[]`, and `aggregated` `{ name, count }[]` (ingredients for TAG_SET, tags for INGREDIENT_SET)."
          }
        },
        "required": [
          "data"
        ]
      },
      "AdvancedStatisticsTags": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdvancedStatisticsTagRow"
            }
          },
          "total": {
            "type": "integer",
[...]
