name: Tests

on:
  pull_request:

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Node.js setup'
        uses: actions/setup-node@v3
        with:
          node-version: 21

      - name: 'Install dependencies'
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: 'Run Prettier'
        run: yarn format:check

      - name: 'Run ESlint'
        run: yarn next lint

  Build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Node.js setup'
        uses: actions/setup-node@v3
        with:
          node-version: 21

      - name: 'Install dependencies'
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: 'Build'
        run: |
          yarn run build

  Licenses:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Node.js setup'
        uses: actions/setup-node@v3
        with:
          node-version: 21

      - name: 'Install license-checker'
        run: npm install -g license-checker

      - name: 'Check licenses'
        run: license-checker --production --onlyAllow "MIT;ISC;BSD-2-Clause;BSD-3-Clause;Apache-2.0;(MIT OR WTFPL);Apache*;0BSD" --excludePrivatePackages
